html {
  background: #69a7bf;
  text-align: center;
}
body {
  background: #bdf26d;
  padding: 50px;
  margin: 50px;
  margin-top: 65px;
  border-radius: 13px;
  box-shadow: 3px 3px 10px #4b8ca6;
  font-size: 24px;
  font-family: OCR A Std, monospace;
 }
.logoGJ {
  background: #96d977;
  border-radius: 16px;
  height: 40px;
  width: 50px;
  position: absolute;
  top: 10px;
  right: 16px;
  font-family: OCR A Std, monospace;
  font-size: 35px;
  color: #a67458;
  text-align: center;
  cursor: grab;
  animation: go-back 1s;
}

@keyframes go-back {
  0% {
    transform: translateY(-100px);
  }
  60% {
    transform: translateY(50px);
  }
   100% {
    transform: translateX(0px);
  }
}

input {
  border: none;
  font-family: OCR A Std, monospace;
  font-size: 22px;
  text-align: center;
  border-radius: 10px;
  padding: 2px 35px;
  margin-top: 08px;
 animation: desliza 3s;
}

@keyframes desliza {
  0% {
    transform: translateX(-370px);
  }
  50% {
    transform: translateX(90px);
  }
   90% {
    transform: translateX(-10px);
  }
   100% {
    transform: translateX(0px);
  }
}
button {
  border: none;
  background: #96d977;
  font-family: OCR A Std, monospace;
  font-size: 22px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  animation: golf 4s;
}

@keyframes golf {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}
h1 {
  font-size: 30px;
}
div {
  font-size: 37px;
  font-weight: bold;
}
p1 {
  margin-top: 25px;
  font-size: 15px;
}
